*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    background-color: black;
    color: yellow;
    z-index: 2;
}

body{
    position: relative;
    z-index: 1;
    background-color: gray;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
    height: 4em;
}

.menu{
    width: 20em;
    height: 2em;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: flex-end;
}

#headerA{
    text-decoration: none;
    color: white;
}

a{
    margin-top: 1em;
}

.mwl{
    margin-left: -5em;
    margin-top: .4em;
}

.item{
    border: .1em solid white;
    width: 50%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

.liste{
    border: .1em solid white;
    width: 50%;
    height: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

#itemB, #listeB{
    border: none;
    background-color: black;
    color: yellow;
    cursor: pointer;
}

#ins{
    border: none;
    height: 2em;
}

.pres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 5%;
}

.presG, .presL, .presI{
    background-color: black;
    color: white;
    width: 30%;
    padding: .5em;
}

.presG > h2, .presL > h2, .presI > h2{
    color: violet;
    text-decoration: underline;
    margin-bottom: 1em;
}

.presG > p, .presL > p, .presI > p{
    margin-bottom: 1em;
}

.presG > ul > li, .presL > ul > li, .presI > ul > li{
    margin-bottom: .1em;
    margin-left: .7em;
}

