body{
    background-color: #2C2F33;
}

.page{
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}

.title{
    display: grid;
}

.title > h1{
    color: cyan;
    margin-left: 10%;
    grid-column: 1;
    margin-top: 20%;
}

.title > #rick{
    border: 7px ridge darkgray;
    grid-column: 2;
    margin-left: 10%;
    width: 70%;
    height: 90%;
}

#ins{
    width: 75%;
    height: 3em;
    margin-top: 20%;
    margin-left: 10%;
    border: .2em solid grey;
}

#ins:hover{
    transform: scale(1.02);
}

#insa{
    width: inherit;
    border: inherit;
    grid-column: 3;
}

.title > #rick:hover{
    transform: scale(1.02);
}

.menu{
    color: white;
    font-size: xx-large;
    display: grid;
    width: 100%;
    margin-top: 1em;
}

a{
    text-decoration: none;
    color: white;
}

.liste{
    display: flex;
    height: 1.2em;
    flex-direction: column;
    grid-column: 1;
    overflow: hidden;
    background-color: orange;
}

.item{
    display: flex;
    height: 1.2em;
    flex-direction: column;
    grid-column: 2;
    overflow: hidden;
    background-color: orange;
}

.menu > .liste > a:hover,
.menu > .item > a:hover{
    background-color: indianred;
}

.menu > .liste:hover{
    background-color: #222144;
    height: 100%;
    overflow: visible;
}

.menu > .item:hover{
    background-color: #222144;
    height: 100%;
    overflow: visible;
}

.presG,
.presL > ol,
.presL > p,
.presI > ol,
.presI > p{
    color: white;
}

.presG > h2,
.presL > h2,
.presI > h2{
    color: red;
    text-decoration: underline;
}